@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>현재 시각 :  @DateTime.Now</p>
    <p>안녕하세요! 내일은 빨간 날!!!!!</p>
    <p>안 적은 게 있어서!!</p>
  
</div>
