@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>현재 시각:@DateTime.Now</p>
    <p>집에서 되는 지 확인해봅시다!!</p>
    <p>잘 되나 봅시다!!! 확실히 되나 봅시다 집에 갑시다 ㅜㅜㅜ</p>
</div>
