@model PaginatedList<MvcBoardApp.Models.Board>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

@if (SignInManager.IsSignedIn(User))
{

    <h1>Create</h1>

    <h4>Board</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Board.UserName" class="control-label">@User.Identity.Name</label>
                    <input asp-for="Board.UserName" class="form-control" type="hidden" value="@User.Identity.Name" />
                    <span asp-validation-for="Board.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Board.Subject" class="control-label"></label>
                    <input asp-for="Board.Subject" class="form-control" />
                    <span asp-validation-for="Board.Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Board.Content" class="control-label"></label>
                    <input asp-for="Board.Content" class="form-control" />
                    <span asp-validation-for="Board.Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Board.WriteDate" type="hidden" class="form-control" value="@DateTime.Now" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" asp-route-pageNumber="1" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index" asp-route-pageNumber="@Model.PageIndex">Back to List</a>
    </div>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login">Login이 필요한 기능입니다.</a>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
