@model MvcBoardApp.Models.Board
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

@if (SignInManager.IsSignedIn(User))
{

<h1>Create</h1>

<h4>Board</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" type="hidden" value="@User.Identity.Name" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="WriteTime" class="control-label"></label>
                    <input asp-for="WriteTime" type="hidden" class="form-control" value="@DateTime.Now"/>
                    <span asp-validation-for="WriteTime" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Hits" class="control-label"></label>
                    <input asp-for="Hits" class="form-control" />
                    <span asp-validation-for="Hits" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


}
else
{
    <a asp-area="Identity" asp-page="/Account/Login">Login이 필요한 기능입니다. </a>
    
   
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
